<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="{{ url_for('static',filename='script.js') }}"> </script>
    <title>Home</title>
</head>

<body>
    <div class="header">
        E-Dock Management
    </div>
    
    
    <div class="main">
        <center><h3>Choose Location</h3></center>
        <form action="/topic/", method="post">
            <select name="channel">
                <option value="north-lucknow-grocery-3347/Lucknow">Lucknow</option>
                <option value="lucknow/grocery/3441-Sankpa">Sankpa</option>
                <option value="lucknow/grocery/3441-Ballabgarh">Ballabgarh</option>
                <option value="lucknow/grocery/3441-Rewari">Rewari</option>
            </select><br>
            <input type="submit", value="Show Docks">
        </form>
    </div>
</body>
</html>